<!DOCUMENT>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <input type="text" id="username">
        <button id="send_username">Send_UN</button>
    <div style="color:aquamarine; height: 600px; width: 600px;" id="chatroom"></div>
    <input type="text" id="message">
    <button id="send_message">Send_M</button>
<script src=”https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src=”../routes/chat.js”></script>
    </body>
</html>