<!DOCTYPE>
<html>
    <head>
        <title>VacaBlog</title>
    </head>
    <body>
        <center><h1>Welcome to VacaBlog</h1></center>
            <center>
                <a class="btn btn-primary" href="/index">login</a>
                <a class="btn btn-primary" href="/register">sign up</a>
            </center>
    </body>
</html>